@model SportsTracker.Models.DbModel.Post

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>



        <form method="POST" action="Create">
            <div class="editor-field">
                <lebel for="Title"><strong>Title</strong></lebel>
                <br />
                <input type="text" name="Title" required="required" />
                <span class="field-validation-valid" data-valmsg-for="Title" data-valmsg-replace="true"></span>
            </div>
            <div class="editor-field" >
                <label for="PostDescription"><strong>Description</strong></label>
                <br/>
                <textarea placeholder="Write your thoughts...." name="PostDescription" required="required"></textarea>
                <span class="field-validation-valid" data-valmsg-for="PostDescription" data-valmsg-replace="true"></span>
            </div>


            <p>
                <input type="submit" value="Submit"/>
            </p>
        </form>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
