@model SportsTracker.Models.DbModel.Post

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>



        <form method="POST" action="Create">
            <div>
                <lebel for="PostTitle"><strong>Title</strong></lebel>
                <br/>
                <input type="text" name="Title"/>
            </div>
            <div>
                <lebel for="PostDescription"><strong>Description</strong></lebel>
                <br/>
                <textarea placeholder="Write your thoughts...." name="PostDescription"></textarea>
            </div>


            <p>
                <input type="submit" value="Submit"/>
            </p>
        </form>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
