@model SportsTracker.Models.DbModel.Post

@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to delete this?</h3>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" class="btn-danger" value="Delete"/>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })  
        @Html.ActionLink("Cancel", "MyPosts")
    </p>
}
