@model SportsTracker.Models.Repository.UserRepository

@{
    ViewBag.Title = "Create";
}
<style>
    .panel-heading {
        color: blue;
    }

    #container {
        background-color: #D8E8F3;
    }

    b, strong {
        font-weight: 700;
        color: #0B62A2;
    }

    .form-group {
        margin-bottom: 15px;
        margin-top: 15px;
        padding-bottom: 15px;
        background-color: aliceblue;
    }
</style>
<div class="container" id="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-3">
            <div class="panel-group panel panel-default">
                <section>

                    <div class="panel">
                        <h2 class="panel-heading" align="center">Complete Your Profile</h2>
                    </div>
                    <div class="panel-body panel-group">
                        @*<form method="POST" action="Create">*@
                        @using (Html.BeginForm("Create", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="form-group col-sm-12">
                                <label for="FirstName"><strong>First Name</strong></label>
                                <br />
                                <input class=" col-sm-12" type="text" name="Firstname" placeholder="First name" required="required" />
                                <span class="field-validation-valid" data-valmsg-for="Firstname" data-valmsg-replace="true"></span>
                            </div>

                            <div class="form-group  col-sm-12">
                                <label for="LastName"><strong>Last Name</strong></label>
                                <br />
                                <input class=" col-sm-12" type="text" name="Lastname" placeholder="Last name" required="required" />
                                <span class="field-validation-valid" data-valmsg-for="Lastname" data-valmsg-replace="true"></span>
                            </div>

                            <div>
                                <div class="form-group  col-sm-12" id="Gender">
                                    <label for="Gender"><strong>Gender</strong> </label>
                                    <br />
                                    <div>
                                        <select class="form-control " id="gender1" name="Gender">

                                            <option>Male</option>

                                            <option>Female</option>

                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group  col-sm-12">
                                <label for="Age"><strong>Age</strong></label>
                                <br />
                                <input class=" col-sm-12" id="Age" type="number" name="Age" required="required" />
                                <span class="field-validation-valid" data-valmsg-for="Age" data-valmsg-replace="true"></span>
                            </div>


                            <div class="form-group  col-sm-12">
                                <label for="Weight"><strong>Weight</strong></label>
                                <br />
                                <input class=" col-sm-12" type="number" name="Weight" required="required" />
                                <span class="field-validation-valid" data-valmsg-for="Weight" data-valmsg-replace="true"></span>
                            </div>


                            <div class="form-group  col-sm-12">
                                <label for="email"><strong>Email</strong></label>
                                <br />
                                <input class=" col-sm-12" type="email" id="email" placeholder="Enter email" name="Email" required="required">
                                <span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                            </div>


                            <div class="form-group  col-sm-12">
                                <label for="Birthdate"><strong>Birthdate</strong></label>
                                <br />
                                <input class=" col-sm-12" type="date" name="Birthdate" placeholder="Date of Birth" required="required">
                                <span class="field-validation-valid" data-valmsg-for="Birthdate" data-valmsg-replace="true"></span>
                            </div>

                            <div class="form-group col-sm-12">
                                <label for="ProfilePicture"><strong>Upload Picture</strong></label>
                                <br />
                                <input class=" col-sm-12" type="file" name="file" required="required" />
                                <span class="field-validation-valid" data-valmsg-for="ProfilePicture" data-valmsg-replace="true"></span>
                            </div>

                            <div class="form-group col-sm-12">
                                <input class="col-sm-12 btn-success" type="submit" value="Submit" />
                            </div>
                        }


                        @*</form>*@

                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

@Html.ActionLink("View Profile", "ProfileDetails", new { id = WebSecurity.CurrentUserId })

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




