@{
    ViewBag.Title = "About";
}
<style>
    .jumbotron {
        padding: 15px;
        margin: 15px;
        color: darkblue;
    }
    h1 {
        color: darkblue;
    }
    p {
        color: #050567;
    }
</style>

<div class="jumbotron">
    <h1>Sports Tracker</h1>
    <p align="justify">Sports Tracker will be served as a simple tracking system which can be used in different field of life. The tracking system will provide user different type of opportunities. These are like sports tracking, calorie burning amount and location tracking. In the sports tracking part there are some features for an athlete and general people. A sportsman can easily measure the distance of his/her regular riding, riding time and calorie burning. As a result, someone may maintain a routine based on these data analyses found from GPS tracking.</p>
    <blockquote>
        <small>Founded by <cite><a href="https://www.facebook.com/rubaiyat.jahan.mumu">Rubaiyat Jahan Mumu</a></cite> & <cite><a href="https://www.facebook.com/tasnim.fabiha">Syeda Tasnim Fabiha</a></cite></small>
    </blockquote>
    
</div>
