@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <h1>Sports Tracker</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p>
        <a role="button" class="btn btn-primary btn-lg">Learn more</a>
    </p>
</div>

<article>
    <p>
        <b>Software Project Lab-2</b>
        <br/><b>Sports Tracker</b>
        <br/>
        <b>Group Members:</b> 
        <br/> 
        Rubaiyat Jahan Mumu
        <br/>
        Syeda Tasnim Fabiha
    </p>
    <p>
        We will make fitness fun and help you to stay motivated
    </p>

</article>

<aside>
   
   
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>