@{
    ViewBag.Title = "Contact";
}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="#">Sports Tracker</a></li>
        <li class="active">Contact</li>
    </ol>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2><i class="fa fa-support"></i> Help Requests
            </h2>
            <p>If you need help with one of our Features, or if you are experiencing a bug, please visit <a href="#">our help page</a>. If you still can't find an answer, please email us at:<strong><a href="mailto:bsse0622@iit.du.ac.bd">Help</a></strong>
            </p>


            <p align="justify">
                Do you want a Know your daily sports activity from GPS tracker? Do you want to share your activity with everyone and share your thinkings? Do you want to create custom group and your profile with your all types of activity? If so, you can join to Sports Tracker! We build this website to provide all these services to you. We will develop more features based on your feedback. So, Stay with us for living a healthy and happy life.
                <strong><a href="mailto:bsse0620@iit.du.ac.bd">Feedback</a></strong>
            </p>
            
           
        </div>
    </div>
    <blockquote>
        Institute of information Technology <br/>
        University of Dhaka
        <header>
            <h3>Roll</h3>
        </header>
        Roll: 0620
        Roll: 0622
        <header>
            <h3>Email</h3>
        </header>
        <p>

            <span><a href="mailto:bsse0620@iit.du.ac.bd">bsse0620@iit.du.ac.bd</a></span>
        </p>
        <p>

            <span><a href="mailto:bsse0622@iit.du.ac.bd">bsse0620@iit.du.ac.bd</a></span>
        </p>
    </blockquote>
</div>

