@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    
</hgroup>

<section class="contact">
    <header>
        <h3>Roll</h3>
    </header>
    <p>
        
        <span>BSSE0620</span>
    </p>
    <p>
        
        <span>BSSE0622</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        
        <span><a href="mailto:bsse0620@iit.du.ac.bd">bsse0620@iit.du.ac.bd</a></span>
    </p>
    <p>
        
        <span><a href="mailto:bsse0622@iit.du.ac.bd">bsse0620@iit.du.ac.bd</a></span>
    </p>
   
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        Institue of Information Technology<br />
        University of Dhaka
    </p>
</section>