@{
    ViewBag.Title = "Index";
}

<div  style="background-image: url('@Url.Content("~/Images/2Copy.jpg")');
    margin: -15px;
    margin-top: -20px;
    height: 540px;
    width: 975px;">
    <h1 align="left" style="font-weight: 600; padding: 15px">Track Your Activity</h1>
</div>
