@{
    ViewBag.Title = "Home Page";
}

@section featured {
    <section class="featured" style="background-image: url('~\Images\2.jpg')">
        <div class="content-wrapper">
            <div class="title">
                <h1>@ViewBag.Title</h1>
                
            </div>
           
        </div>
    </section>
}

