@model SportsTracker.Models.Repository.GroupRepository

@{
    ViewBag.Title = "Create";
}
<style>
     #header {
        padding-top: 10px;
    }
     #body {
        background: #ECEFF9;
        width: inherit;
        height: 200px;
        padding-top: 0;
        margin-top: 0;
        
     }
    
</style>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <div id ="body" align="center">
        <h3 style="color: #0B173B" id="header">
            Create New Group
        </h3>
        <form method="POST" action="Create">
            <div class=" form-group">
                <label for="Groupname"><strong>Group Name</strong></label>
                <br/>
                <input id="name"type="text" name="Groupname" required="required"/>
                <span class="field-validation-valid" data-valmsg-for="Groupname" data-valmsg-replace="true"></span>
            </div>
            <br/>
            <p>
                <input type="submit" id="submit" class="btn-info" value="Create" />
            </p>
        </form>
    </div>


}

<div>
    @Html.ActionLink("Back to List", "MyGroups", "Group")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
